[Unit]
Description = SWAP over zram device
Before=multi-user.target
After=local-fs.target

[Service]
Type=one-shot
EnvironmentFile=-/etc/default/zram-swap
ExecStart=/usr/sbin/zram-swap $ZRAM_SWAP_OPTS
User=root
Group=root

[Install]
WantedBy=swap.target
