Package: zram-swap
Version: 0.1
Depends: python3, libpython3-stdlib
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 8192
Maintainer: Dmitry Orlov <me@mosquito.su>
Description: Easy way to configure swap over zram
